{:objects
 {:content
  {:fields {:tegID {:type String}
            :tegType {:type String}}}}

 :queries
 {:canonical {:type (:content)
              :args {:ref {:type String}}
              :resolve :get-content}}}